/* Global */

/* Navigation */

.navbar-nav {
  text-align: center;
  list-style-type: none;
}

.splash {
  display: flex;
}
  
.splash-inner {
  text-align: center;
  padding: 20px;
}
  
