/* Global */

/* Navigation */

.container {
width: 100%;
  color: #ccc;
  position: absolute;
  padding: 0;
  margin: 0 auto;
}

.container img {
  position: relative;
}

.navbar-nav {
text-align: right;
  list-style-type: none;
  left: 50%;
  transform: translateX(-50%);
}

.splash-inner {
text-align: center;
}
