/* Global */

/* Navigation */

img {
  position: relative;
}

.navbar-nav {
  text-align: center;
  list-style-type: none;
  position: absolute;
  display: inline;
}

.splash {
  display: flex;
  text-align: center;
  justify-content: center;
}
  
.splash-inner {
  padding: 20px;
  position: absolute;
}
  
/* About */

.services {
  text-align: center;
  background: #ccc;
  color: #fff;
  padding: 50px;
  display: flex;
}

.box {
  flex-wrap: wrap;
}

h5 {
  color: #FD9610;
}

/* Portfolio */

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
  
